# Dependencies
node_modules/

# Generated clients and intermediary OpenAPI specs
# - We don't want to commit these so that each
#   project can build their own clients as needed
# - Merged OpenAPI specs are committed in docs/gen/
/gen/

# Buf cache
.buf/

# Build artifacts
*.log
*.tmp

# IDE files
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
